* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-family: Arial, sans-serif;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
li {
    outline-style: none;
}
body {
    background-color: #ddd;
    font-size: 14px;
    line-height: 1.3;
}
#printArea {
    width: 816px;
    height: 1200px;
    /* height: 1056px; */
    background-color: #fff;
    margin: 0rem auto;
    padding: 50px;
}
a {
    text-decoration: none;
    color: #000;
}
i {
    margin-right: 1rem;
    width: 16px;
}
hr {
    margin: 5px 0 20px;
}
.title {
    font-family: Poppins,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
h1.title {
    font-size: 20px;
    color: aquamarine;
    border-bottom: solid 1px #aaa;
}
h3.title {
    font-size: 20px;
    text-align: center;
}
/* .container {
    margin: 40px 0;
} */
#sidebar .container {
    margin: 40px 0;
}
#printArea #main .container {
    margin: 35px 0;
}
#printArea #main.de .container {
    margin: 20px 0;
}
#printArea #main .container.about-me {
    padding-top: 10px;
}
#printArea #sidebar.de .container {
    margin: 25px 0;
}

.grid {
    display: grid;
    grid-template-columns: 250px 436px;
    grid-gap: 30px;
}

#top {
    width: 816px;
    height: 170px;
    margin: -50px;
    padding: 70px 50px 50px;
    background-color: #BB8090; 
    position: relative;
}
#name p {
    font-size: 20px;
}
#name h1 {
    font-size: 50px;
}

#photo {
    position: absolute;
    bottom: -100px;
    left: 60px;
}

#photo img {
    width: 200px;
    height: 200px;
    border-radius: 5px
}

/* SIDEBAR */
#sidebar {
    padding: 2rem 2rem 2rem 0;
    margin-top: 120px;
}
#sidebar div:first-child {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    
}
#sidebar img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.contact {
    margin-top: 5px !important;
}
.contact table {
    border-spacing: 10px;
}

#main {
    padding: 2rem 0 2rem;
}

#main h3 span {
    font-weight: 400;
}

.skill-list tr td:first-of-type {
    font-weight: 700;
    vertical-align: top;
}
.experience > div, .education > div{
    margin-bottom: 30px;
}

.experience div ul, .edication div ul {
    margin-top: 10px;
}

.experience li, .education li {
    list-style: "- " inside;
    margin-bottom: 5px;
}



