.skill-table tr td:first-of-type {
    font-weight: 700;
    vertical-align: top;
}
.experience div ul {
    margin-top: 10px;
}
.experience li {
    list-style: "- " inside;
    margin-bottom: 5px;
}
.experience h4 {
    color: var(--grayText);
}
.experience h4 span {
    font-size: 14px;
    font-weight: 400;
}
.wrapper div.content-element:last-child {
    margin-bottom: 0;
}