.printArea {
    width: var(--printWidth);
    height: fit-content;
    background-color: #fff;
    margin: 0 auto 50px;
    padding: 50px 50px 150px;
    position: relative;
}
.printArea .main .container {
    margin: 35px 0;
}
.printArea .main.de .container {
    margin: 20px 0;
}
.printArea .main .container.about-me {
    padding-top: 10px;
}
.printArea .sidebar.de .container {
    margin: 25px 0;
}
