.top {
    width: 816px;
    height: 170px;
    margin: -50px -50px 0;
    padding: 65px 50px 50px;
    background-color: var(--pink); 
}
#name .position {
    font-size: 20px;
}
#name .name {
    font-size: 50px;
    text-transform: uppercase;
}
#photo {
    position: absolute;
    top: 60px;
    left: 75px;
}
#photo img {
    width: 180px;
    height: 180px;
    border-radius: 5px
}